body{
    background:linear-gradient(#009BA0,#074345) ;
    width: 100vw;
    height: 100vh;
}

.sunny{
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.termostat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

