body{
    background:linear-gradient(#009BA0,#074345) ;
    width: 100vw;
    height: 100vh;
}

.sunny{
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: url('img/sunny.png');
}



.weather{
    margin-left: 900px;
    
}   

.btn_search{
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.searchs{
    display: flex;
    gap: 30px;
   margin-left: 100px;
   align-items: center;
  
}

input{
    font-family: 'Jomhuria';
    color: white;
    font-size: 50px;
    border-radius: 20px;
    background:linear-gradient(white , gray);
    border: none;
}
input::placeholder{
    color: black;
}

h1{
    font-family: 'Jomhuria';
    color:white;
    font-size: 100px;
    margin-left: 100px;
    margin-top: 2px;
    
}
.number{
    
    background-color: white;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    font-size: 40px;
    text-align: center;
    align-items: center;
    padding-top:5px;
  
    
}

.local{
    display: flex;
    gap: 300px;
   margin-left: 20px;
   align-items: center;
   }

